@using Soapbox.Web.Extensions
@inject IOptionsSnapshot<SiteSettings> settings
@{
    var seo = SeoValues.Create(ViewData, settings.Value);
}
<base href="@Context.Request.BaseUrl()">
<title>@seo.Title</title>
<meta name="description" content="@seo.Description" />
<meta name="keywords" content="@seo.Keywords" />
<meta name="author" content="@seo.Author" />
<meta name="copyright" content="@seo.Owner" />
<link rel="canonical" href="@Context.Request.FullUrl()" />
