@model Models.Account.LoginModel
@inject IOptionsSnapshot<SiteSettings> settings

@{
  ViewData["Title"] = "Log in";
}

<style>
  #external-account {
    display: flex;
    justify-content: center;
    gap: 6px;
  }

    #external-account button {
      width: 30px;
      height: 30px;
      background-color: var(--text-color);
      mask-size: cover;
      border: none;
      border-radius: initial;
      cursor: pointer;
      padding: 0;
    }
</style>

<div class="card">
  <header class="centered">
    <h1>@ViewData["Title"]</h1>
  </header>

  <section>
    <form id="login" asp-route-returnUrl="@Model.ReturnUrl" method="post">
      <div asp-validation-summary="ModelOnly"></div>
      <div class="form-group">
        <label asp-for="Input.Username"></label>
        <input asp-for="Input.Username" />
        <span asp-validation-for="Input.Username"></span>
      </div>
      <div class="form-group">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" />
        <span asp-validation-for="Input.Password"></span>
      </div>
      <div class="form-group centered">
        <label asp-for="Input.RememberMe">
          <input asp-for="Input.RememberMe" />
          @Html.DisplayNameFor(m => m.Input.RememberMe)
        </label>
      </div>
      <div id="submit" class="centered">
        <button class="large" type="submit">Log in</button>
      </div>
    </form>
  </section>
  @if ((Model.ExternalLogins?.Count ?? 0) > 0)
  {
    <div class="separator">or</div>
    <form id="external-account" class="form-horizontal" asp-controller="Account" asp-action="LoginExternal" asp-route-returnUrl="@Model.ReturnUrl" method="post">
      @foreach (var provider in Model.ExternalLogins)
      {
        <button type="submit" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account" style="mask: url('/assets/social/@(provider.DisplayName.ToLower()).svg'); mask-size: contain;"></button>
      }
    </form>
  }
</div>
<div class="centered subtle">
  <a asp-controller="Account" asp-action="ForgotPassword">Forgot your password?</a>
  @if (settings.Value.AllowRegistration)
  {
    <text> - </text><a asp-controller="Account" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl">Sign up</a>
  }
</div>
