@model Models.Account.RegisterModel
@{
  ViewData["Title"] = "Register";
}

<style>
  #external-account {
    display: flex;
    justify-content: center;
    gap: 6px;
  }

    #external-account button {
      width: 30px;
      height: 30px;
      background-color: var(--text-color);
      mask-size: cover;
      border: none;
      border-radius: initial;
      cursor: pointer;
      padding: 0;
    }
</style>

<div class="card">
  <header class="centered">
    <h1>@ViewData["Title"]</h1>
  </header>

  <form id="register" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
      <label asp-for="Username"></label>
      <input asp-for="Username" />
      <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
      <label asp-for="Email"></label>
      <input asp-for="Email" />
      <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
      <label asp-for="Password"></label>
      <input asp-for="Password" />
      <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
      <label asp-for="ConfirmPassword"></label>
      <input asp-for="ConfirmPassword" />
      <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div id="submit" class="centered">
      <button class="large" type="submit">Register</button>
    </div>
  </form>
  @if ((Model.ExternalLogins?.Count ?? 0) > 0)
  {
    <div class="separator">or</div>
    <form id="external-account" class="form-horizontal" asp-controller="Account" asp-action="LoginExternal" asp-route-returnUrl="@Model.ReturnUrl" method="post">
      @foreach (var provider in Model.ExternalLogins)
      {
        <button type="submit" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account" style="mask: url('/assets/social/@(provider.DisplayName.ToLower()).svg'); mask-size: contain;"></button>
      }
    </form>
  }
</div>
