@model Models.Account.RegisterModel
@{
  ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
  <h4>Create a new account.</h4>
  <hr />
  <div asp-validation-summary="All" class="text-danger"></div>
  <div class="form-field">
    <label asp-for="Username"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email" class="text-danger"></span>
  </div>
  <div class="form-field">
    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email" class="text-danger"></span>
  </div>
  <div asp-validation-summary="All" class="text-danger"></div>
  <div class="form-field">
    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password" class="text-danger"></span>
  </div>
  <div class="form-field">
    <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword" />
    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
  </div>
  <button type="submit">Register</button>
</form>
<section>
  <h4>Use another service to register.</h4>
  <hr />
  @{
    if ((@Model.ExternalLogins?.Count ?? 0) == 0)
    {
      <div>
        <p>
          There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
          for details on setting up this ASP.NET application to support logging in via external services.
        </p>
      </div>
    }
    else
    {
      <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
        <p>
          @foreach (var provider in @Model.ExternalLogins)
          {
            <button type="submit" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
          }
        </p>
      </form>
    }
  }
</section>
