@inject IOptionsSnapshot<Soapbox.Web.Settings.SiteSettings> settings
@{
  var host = $"{Context.Request.Scheme}://{Context.Request.Host}";
}
<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
  <meta charset="utf-8" />
  <title>@ViewData[Constants.Title] | @settings.Value.Title</title>
  <meta name="description" content="@ViewData[Constants.Description]" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="~/lib/fork-awesome/css/fork-awesome.min.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/bundle.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/prism-theme.css" asp-append-version="true" />
  @await RenderSectionAsync(Constants.StyleSheets, required: false)

  <!-- TODO Open Graph meta -->
  <meta property="og:type" content="article" />
  <meta property="og:title" content="@ViewData[Constants.Title]" />
  <meta property="og:description" content="@ViewData[Constants.Description]" />
  <meta property="og:url" content="@(host + Context.Request.Path)" />
  <meta property="og:image" content="@host/img/icon512x512.png" />
  <meta property="og:image:width" content="512" />
  <meta property="og:image:height" content="512" />

  <meta name="msapplication-square150x150logo" content="~/img/icon180x180.png" />

  <link rel="icon" type="image/png" sizes="16x16" href="~/img/icon16x16.png" />
  <link rel="apple-touch-icon" href="~/img/icon180x180.png" />
  <link rel="shortcut icon" href="~/img/icon16x16.png" />

  <!-- TODO Configure feeds appropriately -->
  <link rel="edituri" type="application/rsd+xml" title="RSD" href="~/rsd.xml" />
  <link rel="alternate" type="application/rss+xml" href="~/feed/rss/" title="@ViewData[Constants.Title]" />
  <link rel="alternate" type="application/atom+xml" href="~/feed/atom/" title="@ViewData[Constants.Title]" />

  <meta name="application-name" content="@ViewData[Constants.Title]" />
  <meta name="msapplication-TileColor" content="#ffffff" />
</head>
<body>
  <header id="site-header">
    <div class="container">
      <div id="brand">
        <h1><a asp-area="" asp-controller="Pages" asp-action="Index">@settings.Value.Title</a></h1>
        <div>@settings.Value.Description</div>
      </div>
      <nav id="site-nav">
        <partial name="_NavigationPartial" />
      </nav>
    </div>
  </header>

  <main role="main">
    @RenderBody()
  </main>

  <footer id="site-footer">
    <section id="footer-nav" class="container columns">
      <div>
        <h3>Blog</h3>
        <ul>
          <li><a asp-area="" asp-controller="Blog" asp-action="Index">All posts</a></li>
          <li><a asp-area="" asp-controller="Blog" asp-action="Archive">Archive</a></li>
          <li><a asp-area="" asp-controller="Pages" asp-action="Page" asp-route-page="Privacy">Privacy</a></li>
        </ul>
      </div>
      <div>
        <h3>Site</h3>
        <ul>
          <partial name="_LoginPartial" />
        </ul>
      </div>
    </section>
    <partial name="_Copyright" />
  </footer>

  <script src="~/js/site.js" asp-append-version="true"></script>
  <script src="~/lib/prism/prism.min.js" asp-append-version="true"></script>
  <script src="~/lib/prism/plugins/autoloader/prism-autoloader.min.js" asp-append-version="true"></script>

  @await RenderSectionAsync(Constants.Scripts, required: false)
</body>
</html>
