@inject IOptionsSnapshot<SiteSettings> settings
<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <partial name="_SeoPartial" />
  <partial name="_RssPartial" />
  <partial name="_OpenGraphPartial" />
  <partial name="_TwitterCardPartial" />

  <link rel="stylesheet" href="~/css/bundle.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/prism-theme.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/lib/fork-awesome/css/fork-awesome.min.css" asp-append-version="true" />
   
  <link rel="icon" type="image/png" sizes="16x16" href="~/img/icon16x16.png" />
  <link rel="shortcut icon" href="~/img/icon16x16.png" />
  <link rel="apple-touch-icon" href="~/img/icon180x180.png" />

  <meta name="application-name" content="@settings.Value.Title" />
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="msapplication-square150x150logo" content="~/img/icon180x180.png" />
</head>

<body>
  <header id="site-header">
    <div class="container">
      <div id="brand">
        <h1><a asp-area="" asp-controller="Pages" asp-action="Index">@settings.Value.Title</a></h1>
        <div>@settings.Value.Description</div>
      </div>
      <partial name="_NavigationPartial" />
    </div>
  </header>

  <partial name="_StatusMessagePartial" />

  <main role="main">
    @RenderBody()
  </main>

  <footer id="site-footer">
    <section id="footer-nav" class="container columns">
      <div>
        <h3>Blog</h3>
        <ul>
          <li><a asp-area="" asp-controller="Blog" asp-action="Index">All posts</a></li>
          <li><a asp-area="" asp-controller="Blog" asp-action="Categories">Categories</a></li>
          <li><a asp-area="" asp-controller="Blog" asp-action="Archive">Archive</a></li>
        </ul>
      </div>
      <div>
        <h3>Site</h3>
        <ul>
          <partial name="_LoginPartial" />
        </ul>
      </div>
    </section>
    <section id="copyright" class="container">
      <div>&copy; Copyright @DateTime.UtcNow.Year <a asp-area="" asp-controller="Pages" asp-action="Index">@settings.Value.Owner</a></div>
      <div>Powered by <a href="https://github.com/wvdhouten/Soapbox" title="Soapbox">Soapbox</a></div>
    </section>
  </footer>

  <script src="~/js/site.js" asp-append-version="true"></script>
  <script src="~/lib/prism/prism.min.js" asp-append-version="true"></script>
  <script src="~/lib/prism/plugins/autoloader/prism-autoloader.min.js" asp-append-version="true"></script>

  @await RenderSectionAsync(Constants.Scripts, required: false)
</body>
</html>
