@model Post
@inject Soapbox.Domain.Abstractions.IMarkdownParser Parser
@{
  var isFullPost = string.IsNullOrWhiteSpace(Model.Excerpt);

  var content = !isFullPost
    ? Model.Excerpt
    : Model.Content;
}

<article class="post excerpt">
  <header>
    <div class="container">
      <h1><a asp-area="" asp-controller="Blog" asp-action="Post" asp-route-slug="@Model.Slug">@Model.Title</a></h1>
    </div>
  </header>
  <section class="sub-header">
    <div class="container">
      <time datetime="@((Model.PublishedOn??Model.ModifiedOn).ToString("s"))">@((Model.PublishedOn??Model.ModifiedOn).ToString("MMM d, yyyy"))</time>
    </div>
  </section>
  <section>
    <div class="container body markdown-body">
      @Html.Raw(Parser.Parse(content))
    </div>
  </section>
  <footer>
    <div class="container">
      @if (!isFullPost)
      {
        <a asp-area="" asp-controller="Blog" asp-action="Post" asp-route-slug="@Model.Slug">Read More</a>
      }
    </div>
  </footer>
</article>
