@using Identity.Extensions
@model Post
@inject Soapbox.Core.Markdown.IMarkdownParser Parser
@{
  var isFullPost = string.IsNullOrWhiteSpace(Model.Excerpt);

  var content = !isFullPost
    ? Model.Excerpt
    : Model.Content;
}

<article class="post excerpt">
  <header>
    <div class="container relative">
      <h1><a asp-area="" asp-controller="Blog" asp-action="Post" asp-route-slug="@Model.Slug">@Model.Title</a></h1>
      @if (User.IsInRole(UserRole.Administrator, UserRole.Author, UserRole.Contributor, UserRole.Editor))
      {
        <a asp-area="Admin" asp-controller="Posts" asp-action="Edit" asp-route-id="@Model.Id" class="top-right"><i class="fa fa-edit"></i></a>
      }
    </div>
  </header>
  <section class="sub-header">
    <div class="container">
      <time datetime="@((Model.PublishedOn??Model.ModifiedOn).ToString("s"))">@((Model.PublishedOn??Model.ModifiedOn).ToString("MMM d, yyyy"))</time>
      <span class="author">by <a asp-area="" asp-controller="Blog" asp-action="Author" asp-route-id="@Model.Author.Id">@(!string.IsNullOrEmpty(Model.Author.DisplayName) ? Model.Author.DisplayName : Model.Author.UserName)</a></span>
    </div>
  </section>
  <section>
    <div class="container body markdown-body">
      @Html.Raw(Parser.Parse(content))
    </div>
  </section>
  <footer>
    <div class="container">
      @if (!isFullPost)
      {
        <a asp-area="" asp-controller="Blog" asp-action="Post" asp-route-slug="@Model.Slug">Read More</a>
      }
    </div>
  </footer>
</article>
