@using Identity.Extensions
@model Post

<header>
  <div class="container relative">
    <h1><a asp-area="" asp-controller="Blog" asp-action="Post" asp-route-slug="@Model.Slug">@Model.Title</a></h1>
    @if (User.IsInRole(UserRole.Administrator, UserRole.Author, UserRole.Contributor, UserRole.Editor))
    {
      <div class="quick-actions">
      <a asp-area="Admin" asp-controller="Posts" asp-action="Edit" asp-route-id="@Model.Id" class="top-right"><i class="fa fa-edit"></i></a>
      </div>
    }
    <div class="meta-data">
      <span><i class="fa fa-calendar"></i> <time datetime="@Model.PublishedOn.ToString("s")">@Model.PublishedOn.ToString("MMM d, yyyy")</time></span>
      <span>
        <i class="fa fa-user-circle"></i>
        <a asp-area="" asp-controller="Blog" asp-action="Author" asp-route-id="@Model.Author.Id">@(!string.IsNullOrEmpty(Model.Author.DisplayName) ? Model.Author.DisplayName : Model.Author.UserName)</a>
      </span>
      <span>
        <span><i class="fa fa-tags"></i></span>
        <span class="tag-list">
        @foreach(var category in Model.Categories)
        {
          <span class="tag"><a asp-area="" asp-controller="Blog" asp-action="Category" asp-route-slug="@category.Slug">@category.Name</a></span>
        }
        </span>
      </span>
    </div>
  </div>
</header>
