@model Models.Blog.ArchiveModel

@{
  ViewData["Title"] = "Archive";

  var prevMonth = Model.CurrentMonth.AddMonths(-1);
  var nextMonth = Model.CurrentMonth.AddMonths(1);
  var endOfWeek = Model.StartOfWeek + 6;
  var startOfCalendar = Model.Days.First().Key;
  var today = DateTime.UtcNow;
}

<div class="container content">
  <div class="calendar-navigation">
    <a asp-controller="Blog" asp-action="Archive" asp-route-year="@prevMonth.Year" asp-route-month="@prevMonth.Month"><i class="fa fa-angle-double-left"></i> @prevMonth.ToString("MMM yyyy")</a>
    <span class="title">@Model.CurrentMonth.ToString("MMMM yyyy")</span>
    <a asp-controller="Blog" asp-action="Archive" asp-route-year="@nextMonth.Year" asp-route-month="@nextMonth.Month">@nextMonth.ToString("MMM yyyy") <i class="fa fa-angle-double-right"></i></a>
  </div>
  <table class="calendar-view">
    <thead>
      <tr>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var day in Model.Days)
      {
        var modifier = day.Key.Month != Model.CurrentMonth.Month ? "outside" : "";
        var todayClass = day.Key.Date == today.Date ? "today" : "";

        if (day.Key.DayOfWeek == Model.StartOfWeek)
        {
          @:<tr>
          }
          <td class="@modifier">
            <header class="@todayClass">
              @day.Key.Day
              @if (day.Key.Day == 1 || day.Key.Date == startOfCalendar.Date)
              {<span class="month">@day.Key.ToString("MMM")</span>}
            </header>
            <section class="entries">
              @if (day.Value != null && day.Value.Any())
              {
                foreach (var post in day.Value)
                {
                  <a asp-controller="Blog" asp-action="Post" asp-route-slug="@post.Slug" title="@post.Title">@post.Title this is a bit longer than usual.</a>
                }
              }
            </section>
          </td>
          if (day.Key.DayOfWeek == endOfWeek)
          {
          @:</tr>
        }
      }
    </tbody>
  </table>
</div>
