@model IAsyncEnumerable<PostCategory>
@{
    ViewData["Title"] = $"Categories";
}

<div class="container content">
  <header>
    <h1>Categories</h1>
  </header>

  <section class="tag-cloud">
    @await foreach (var category in Model)
    {
      <span class="tag"><a href="#@category.Slug">@category.Name</a> (@category.Posts.Count)</span>
    }
  </section>

  @await foreach (var category in Model)
  {
    <section>
      <h2 id="@category.Slug"><blog-link category="category" /> (@category.Posts.Count)</h2>
      <div class="item-list">
        @foreach (var post in category.Posts)
        {
          <div>@post.PublishedOn.ToString("yyyy-MM-dd") <blog-link post="post" /></div>
        }
      </div>
    </section>
  }
</div>
