@model IPagedList<SoapboxUser>;
@{
    ViewData[Constants.Title] = "Users";
}

<div class="container content">
  <header class="has-actions">
    <h1>@ViewData[Constants.Title]</h1>
    <div>
      <a asp-area="Admin" asp-controller="Users" asp-action="Create" class="button small"><i class="fa fa-plus" aria-hidden="true"></i></a>
    </div>
  </header>

  <table class="data-grid">
    <thead>
      <tr>
        <th width="99%">Username</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var user in Model.Items)
      {
        <tr>
          <td><a asp-area="Admin" asp-controller="Users" asp-action="Edit" asp-route-id="@user.Id">@user.UserName</a></td>
          <td>@user.DisplayName</td>
          <td>@user.Email</td>
          <td>@user.Role</td>
          <td>
            <form asp-area="Admin" asp-controller="Users" asp-action="Delete" asp-route-id="@user.Id" method="post">
              <button type="submit" class="small"><i class="fa fa-trash"></i></button>
            </form>
          </td>
        </tr>
      }
    </tbody>
  </table>
  <partial name="../Shared/_Paging.cshtml" model="Model" />
</div>
