@using Soapbox.Application
@using Soapbox.Application.Constants
@using Soapbox.Identity.Users.EditUser
@model EditUserRequest
@{
  ViewData[ViewConstants.PageTitle] = "Edit user";
}

<div class="container content">
  <header>
    <h1>Edit user</h1>
  </header>
  <form method="post" autocomplete="off">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="@Model.Id" type="hidden" />
    <div class="form-group horizontal">
      <label asp-for="@Model.UserName"></label>
      <input asp-for="@Model.UserName" />
      <span asp-validation-for="@Model.UserName" class="text-danger"></span>
    </div>
    <div class="form-group horizontal">
      <label asp-for="@Model.Email"></label>
      <input asp-for="@Model.Email" />
      <span asp-validation-for="@Model.Email" class="text-danger"></span>
    </div>
    <div class="form-group horizontal">
      <label asp-for="@Model.DisplayName"></label>
      <input asp-for="@Model.DisplayName" />
      <span asp-validation-for="@Model.DisplayName" class="text-danger"></span>
    </div>
    <div class="form-group horizontal">
      <label asp-for="@Model.Role"></label>
      <select asp-for="@Model.Role" asp-items="Html.GetEnumSelectList<UserRole>()">
        <option value="" selected>Please select</option>
      </select>
      <span asp-validation-for="@Model.Role" class="text-danger"></span>
    </div>
    <div class="button-group">
      <button type="submit">Edit</button>
    </div>
  </form>
</div>
