@using Soapbox.Application
@using Soapbox.Domain.Common
@model IPagedList<SoapboxUser>
@{
  ViewData[Constants.PageTitle] = "Users";
}

<div class="container content">
  <header class="has-actions">
    <h1>Users</h1>
    <div>
      <a asp-area="Admin" asp-controller="Users" asp-action="Create" role="button" class="small"><i class="fa fa-plus" aria-hidden="true"></i></a>
    </div>
  </header>

  <figure>
    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @foreach (var user in Model.Items)
        {
          <tr>
            <td><a asp-area="Admin" asp-controller="Users" asp-action="Edit" asp-route-id="@user.Id">@user.UserName</a></td>
            <td>@user.DisplayName</td>
            <td>@user.Email</td>
            <td>@user.Role</td>
            <td>
              <form asp-area="Admin" asp-controller="Users" asp-action="Delete" asp-route-id="@user.Id" method="post">
                <button type="submit" class="small"><i class="fa fa-trash"></i></button>
              </form>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </figure>
  <partial name="../Shared/_Paging.cshtml" model="Model" />
</div>
