@page
@model EnableAuthenticatorModel
@{
  ViewData["Title"] = "Configure authenticator app";
}

<style>
  #qrCode > img {
    display: block;
    background: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 16px;
    margin: auto;
  }

  kbd {
    text-align: center;
    display: block;
  }
</style>

<partial name="_StatusMessage" for="StatusMessage" />
<h1>@ViewData["Title"]</h1>
<div>
  <p>To use an authenticator app go through the following steps:</p>
  <ol class="list">
    <li>
      <p>
        Download a 2FA app like Microsoft Authenticator for <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> and <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> or
        Google Authenticator for <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> and <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
      </p>
    </li>
    <li>
      <p>Scan the QR Code or enter the below into the 2FA app.</p>
      <div id="qrCode"></div>
      <div id="qrCodeData" data-url="@Html.Raw(@Model.AuthenticatorUri)"></div>
      <kbd>@Model.SharedKey</kbd>
    </li>
    <li>
      <p>Once you have scanned the QR code or input the key above, your two factor authentication app will provide you with a unique code. Enter the code in the confirmation box below.</p>
      <form id="send-code" method="post">
        <div class="form-group">
          <label asp-for="Input.Code">Verification Code</label>
          <input asp-for="Input.Code" autocomplete="off" />
          <span asp-validation-for="Input.Code" class="text-danger"></span>
        </div>
        <button type="submit">Verify</button>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      </form>
    </li>
  </ol>
</div>

@section Scripts {
  <script type="text/javascript" src="~/lib/qrcodejs/qrcode.min.js"></script>
  <script type="text/javascript">
    new QRCode(document.getElementById("qrCode"),
      {
        text: "@Html.Raw(Model.AuthenticatorUri)",
        width: 250,
        height: 250,
        colorDark: "#000000",
        colorLight: "#ffffff",
        correctLevel: QRCode.CorrectLevel.H
      });
  </script>
}
