@model IPagedList<Post>
@{
  ViewData[Constants.PageTitle] = "Posts";
}

<section class="container content">
  <header class="has-actions">
    <h1>Posts</h1>
    <div>
      <a asp-area="Admin" asp-controller="Posts" asp-action="Create" role="button" class="small"><i class="fa fa-plus" aria-hidden="true"></i></a>
    </div>
  </header>

  <figure>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Date</th>
          <th>Categories</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @foreach (var post in Model.Items)
        {
          <tr>
            <td><a asp-area="Admin" asp-controller="Posts" asp-action="Edit" asp-route-id="@post.Id">@post.Title</a></td>
            <td>@post.Author</td>
            <td>
              @post.PublishedOn.ToString("yyyy-MM-dd")
              @if (post.Status == PostStatus.Published)
              {
                <i class="fa fa-check" aria-hidden="true"></i>
              }
            </td>
            <td>
              <span>
                @string.Join("; ", post.Categories.Select(c => c.Name))
              </span>
            </td>
            <td>
              <a asp-area="Admin" asp-controller="Posts" asp-action="Delete" asp-route-id="@post.Id" class="button small"><i class="fa fa-trash"></i></a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </figure>
  <partial name="../Shared/_Paging.cshtml" model="Model" />
</section>
