@inject IOptionsSnapshot<SiteSettings> settings
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData[Constants.Title] | @settings.Value.Title</title>
  <meta name="description" content="@ViewData[Constants.Description]" />

  <link rel="stylesheet" href="~/lib/fork-awesome/css/fork-awesome.min.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/bundle.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/prism-theme.css" asp-append-version="true" />

</head>
<body>
  <header id="site-header">
    <div class="container">
      <div id="brand">
        <h1><a asp-area="" asp-controller="Pages" asp-action="Index">@settings.Value.Title</a></h1>
        <div>@settings.Value.Description</div>
      </div>
      <nav id="site-nav">
        <ul>
          <li><a asp-area="Admin" asp-controller="Posts" asp-action="Index" is-active-route="Controller">Posts</a></li>
          <li><a asp-area="Admin" asp-controller="Categories" asp-action="Index" is-active-route="Controller">Categories</a></li>
          <li><a asp-area="Admin" asp-controller="Users" asp-action="Index" is-active-route="Controller">Users</a></li>
          <li><a asp-area="Admin" asp-controller="Site" asp-action="Settings" is-active-route="Action">Settings</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main role="main">
    @RenderBody()
  </main>

  <footer id="site-footer">
    <section id="footer-nav" class="container columns">
      <div>
        <h3>Blog</h3>
        <ul>
          <li><a asp-area="" asp-controller="Blog" asp-action="Index">All posts</a></li>
          <li><a asp-area="" asp-controller="Blog" asp-action="Categories">Categories</a></li>
          <li><a asp-area="" asp-controller="Blog" asp-action="Archive">Archive</a></li>
        </ul>
      </div>
      <div>
        <h3>Site</h3>
        <ul>
          <partial name="_LoginPartial" />
        </ul>
      </div>
    </section>
    <section id="copyright" class="container">
      <div>&copy; Copyright @DateTime.UtcNow.Year <a asp-area="" asp-controller="Pages" asp-action="Index">@settings.Value.Owner</a></div>
      <div>Powered by <a href="https://github.com/wvdhouten/Soapbox" title="Soapbox">Soapbox</a></div>
    </section>
  </footer>

  <script src="~/js/site.js" asp-append-version="true"></script>
  <script src="~/lib/prism/prism.min.js" asp-append-version="true"></script>
  <script src="~/lib/prism/plugins/autoloader/prism-autoloader.min.js" asp-append-version="true"></script>

  @await RenderSectionAsync(Constants.Scripts, required: false)
</body>
</html>
