@model Soapbox.Web.Areas.Admin.Models.Posts.PostViewModel
@{
    var title = "Edit post";
    ViewData[Constants.Title] = title;
}

<style>
  .editor {
    min-height: 350px;
  }

  .input-container {
    width: 100%;
  }
</style>

<div class="container content">
  <form method="post" autocomplete="off">
    <header>
      <h2>@title</h2>
    </header>
    <input type="hidden" asp-for="Id" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group horizontal">
      <label asp-for="Title"></label>
      <input asp-for="Title" />
    </div>
    <div class="form-group horizontal">
      <label asp-for="Slug"></label>
      <div class="input-group">
        <input asp-for="Slug" />
        <div class="input-addon">
          <input asp-for="GenerateSlugFromTitle" />
          <label asp-for="GenerateSlugFromTitle">Generate from title</label>
        </div>
      </div>
    </div>
    <div class="form-group horizontal">
      <label asp-for="Categories"></label>
      <div class="input-container">
        <div class="pillbox">
          @for (int i = 0; i < Model.AllCategories.Count; i++)
          {
            <div class="pill">
              <span>
                <input asp-for="@Model.AllCategories[i].Id" type="hidden" />
                <input asp-for="@Model.AllCategories[i].Name" type="hidden" />
                <input asp-for="@Model.AllCategories[i].Selected" type="checkbox" />
              </span>
              <span><label asp-for="@Model.AllCategories[i].Selected">@Model.AllCategories[i].Name</label></span>
            </div>
          }
        </div>
        <div class="input-group">
          <input asp-for="NewCategory" />
          <button type="submit" name="action" value="AddCategory"><i class="fa fa-plus"></i></button>
        </div>
      </div>
    </div>
    <div class="form-group horizontal">
      <label asp-for="Status"></label>
      <select asp-for="Status" asp-items="Html.GetEnumSelectList<PostStatus>()"></select>
    </div>
    <div class="form-group horizontal">
      <label asp-for="PublishedOn"></label>
      <input asp-for="PublishedOn" />
    </div>
    <div class="form-group">
      <label asp-for="Excerpt"></label>
      <textarea asp-for="Excerpt"></textarea>
    </div>
    <div class="form-group">
      <label asp-for="Content"></label>
      <textarea asp-for="Content" class="editor"></textarea>
    </div>
    <button type="submit">Save</button>
  </form>
</div>
