@model IAsyncEnumerable<Post>;
@{
  ViewData[Constants.Title] = "Posts";
}

<section class="container content">
  <header class="has-actions">
    <h1>Posts</h1>
    <div>
      <a asp-area="Admin" asp-controller="Posts" asp-action="Create" class="button"><i class="fa fa-plus" aria-hidden="true"></i></a>
    </div>
  </header>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Date</th>
        <th>Categories</th>
        <th>Tags</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @await foreach (var post in Model)
      {
        <tr>
          <td><a asp-area="Admin" asp-controller="Posts" asp-action="Edit" asp-route-id="@post.Id">@post.Title</a></td>
          <td>@post.Author</td>
          <td>
            @((post.PublishedOn ?? post.ModifiedOn).ToString("yyyy-MM-dd HH:mm"))
            @if (post.Status == PostStatus.Published && post.PublishedOn.HasValue)
            {
              <i class="fa fa-check" aria-hidden="true"></i>
            }
          </td>
          <td>
            <span>
              @string.Join("; ", post.Categories.Select(c => c.Name))
            </span>
          </td>
          <td>
            <form asp-area="Admin" asp-controller="Posts" asp-action="Delete" asp-route-id="@post.Id" method="post">
              <button type="submit">Delete</button>
            </form>
          </td>
        </tr>
      }
    </tbody>
  </table>
</section>
