@model IPagedList<Post>;
@{
    ViewData[Constants.Title] = "Posts";
}

<section class="container content">
  <header class="has-actions">
    <h1>@ViewData[Constants.Title]</h1>
    <div>
      <a asp-area="Admin" asp-controller="Posts" asp-action="Create" class="button small"><i class="fa fa-plus" aria-hidden="true"></i></a>
    </div>
  </header>

  <table class="data-grid">
    <thead>
      <tr>
        <th width="99%">Title</th>
        <th>Author</th>
        <th>Date</th>
        <th>Categories</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var post in Model.Items)
      {
        <tr>
          <td><a asp-area="Admin" asp-controller="Posts" asp-action="Edit" asp-route-id="@post.Id">@post.Title</a></td>
          <td>@post.Author</td>
          <td>
            @post.PublishedOn.ToString("yyyy-MM-dd")
            @if (post.Status == PostStatus.Published)
            {
              <i class="fa fa-check" aria-hidden="true"></i>
            }
          </td>
          <td>
            <span>
              @string.Join("; ", post.Categories.Select(c => c.Name))
            </span>
          </td>
          <td>
            <form asp-area="Admin" asp-controller="Posts" asp-action="Delete" asp-route-id="@post.Id" method="post">
              <button type="submit" class="small"><i class="fa fa-trash"></i></button>
            </form>
          </td>
        </tr>
      }
    </tbody>
  </table>
  <partial name="../Shared/_Paging.cshtml" model="Model" />
</section>
